<% var board_data = [
    {"img": "img/hiring/1.png", "title": "Cloud-Native Developer-Consultant (m/w/d)", "alt": "Thinktecture AG", "location":"Karlsruhe, Baden-Württemberg. Deutschland", "progress": 95, "type": 'Hybrid'},
    {"img": "img/hiring/2.png", "title": "Senior Product Designer PropTech Startup", "alt": "Thinktecture AG", "location":"Karlsruhe, Baden-Württemberg, Deutschland", "progress": 82, "type": 'Hybrid'},
    {"img": "img/hiring/3.png", "title": "Head of Business Development B2C (m/w/d)", "alt": "E.ON Energie Deutschland GmbH", "location":"Essen, Nordrhein-Westfalen, Deutschland", "progress": 85, "type": 'Office'},
    {"img": "img/hiring/4.png", "title": "Group Product Design Lead - Apps & Services", "alt": "E.ON Energie Deutschland GmbH", "location":"Essen, Nordrhein-Westfalen, Deutschland", "progress": 85, "type": 'Office'},
    {"img": "img/hiring/5.png", "title": "Senior Product Designer (m/fld)", "alt": "Lendis GmbH", "location":"Berlin, Deutschland", "progress": 79, "type": 'Remote'},
    {"img": "img/hiring/6.png", "title": "Al guru (future technical co-founder)", "alt": "Lendis GmbH", "location":"Berlin, Deutschland", "progress": 80, "type": 'Remote'},
    {"img": "img/hiring/7.png", "title": "Product Designer - Product Growth Squad", "alt": "Oetker Digital GmbH", "location":"Berlin, Deutschland", "progress": 75, "type": 'Hybrid'},
    {"img": "img/hiring/8.png", "title": "Digital Brand Strategist (m/id)", "alt": "Oetker Digital GmbH", "location":"Berlin, Deutschland", "progress": 74, "type": 'Hybrid'},
];

var tags = ["Backend Developer","Fullstack Developer","Product Engineer","Product Developer"];
%>

<div class="container-fluid e_page" id="job_board" style="display:none;">
    <div class="row">
        <div class="col-12">
            <div class="row m-2 mt-5">
                <div class="col-12 pb-2">
                    <h2>Find your Dream Job (130)</h2>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="search-result global-shadow rounded-pill bg-white">
                        <form action="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                            <div class="border-right d-flex align-items-center w-100 pl-25 pr-sm-25 pr-0 py-1">
                                <i class="fa fa-search"></i>
                                <input class="form-control border-0 box-shadow-none" type="search" placeholder="Jobtitle or Keyword" aria-label="Jobtitle or Keyword">
                                <input class="form-control border-0 box-shadow-none" type="search" placeholder="Location" aria-label="Jobtitle or Keyword">
                            </div>
                            <button type="button" class="border-0 bg-transparent px-25 bg-info" style="height: 50px;border-radius: 0 10px 10px 0;color: white;">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-keyword mt-20 mb-30">
                        <p style="color: #afb5cb;">Jobs which might fit to your profile</p>
                        <ul class="nav m-n1" id="pills-tab" role="tablist">
                            <% tags.forEach(function(e){ %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-home" aria-selected="true"><%-e%></a>
                                </li>
                            <% });%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row m-0 p-0">
                <% board_data.forEach(function(e){ %>
                    <div class="col-md-6 mt-4">
                        <div class="user-group p-30 radius-xl bg-white shadow card-scale-hover">
                            <div class="d-flex align-items-center justify-content-between pr-3">
                                <div class="avatar" style="margin-top: -45px;">
                                    <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="<%- e.img %>" alt="author" style="width: 85px;height: 85px;box-shadow: 0 0 0 4px #eaecf2;">
                                </div>
                                <div class="details w-100">
                                    <div class="middle d-flex justify-content-between">
                                        <div class="m-left-5">
                                            <a href="#job_board_details"><h6 class="mt-0  fw-600 fs-20"><%- e.title %></h6></a>
                                            <p style="color: #95a5a6;padding-top: 10px;"><%- e.alt %></p>
                                        </div>
                                        <div class="user-progress">
                                            <div class="cicrcle-progress pr-md" data-value="<%- e.progress %>">
                                                <div class="cicrcle-progress-body">
                                                    <div class="middle-circle"></div>
                                                    <div class="progress-spinner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <div class="alt d-flex">
                                                <p class="fs-13 color-light mb-0"><i class="fas fa-map-marker-alt"></i> <%- e.location %></p>
                                                <p class="fs-13 color-light mb-0 ml-5"><i class="fa fa-globe"></i><span class="ml-2"> <%- e.type %></span></p>
                                            </div>
                                            <button class="btn-primary btn btn-info btn-sm mt-2 "><a style="color: white" href="#job_board_details">Apply</a> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-12">
            <nav class="atbd-page pl-2">
                <ul class="atbd-pagination d-flex">
                    <li class="atbd-pagination__item">
                        <a href="#job_board" class="atbd-pagination__link pagination-control"><i class="fas fa-arrow-left"></i></a>
                        <a href="#job_board" class="atbd-pagination__link"><span class="page-number">1</span></a>
                        <a href="#job_board" class="atbd-pagination__link active"><span class="page-number">2</span></a>
                        <a href="#job_board" class="atbd-pagination__link"><span class="page-number">3</span></a>
                        <a href="#job_board" class="atbd-pagination__link pagination-control"><span class="page-number">...</span></a>
                        <a href="#job_board" class="atbd-pagination__link"><span class="page-number">12</span></a>
                        <a href="#job_board" class="atbd-pagination__link pagination-control"><i class="fas fa-arrow-right"></i></a>
                        <a href="#job_board" class="atbd-pagination__option">
                        </a>
                    </li>
                    <li class="atbd-pagination__item py-50">
                        <div class="paging-option">
                            <select name="page-number" class="page-selection">
                                <option value="20">20/page</option>
                                <option value="40">40/page</option>
                                <option value="60">60/page</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>